* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: white;
}
  
.App-header {
  padding: .5em 0;
  background-color: #282c44;
  color: orange;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  border-bottom: .1em solid orange;
  border-radius: 1em;
  margin-bottom: .5em;
}

/* .App-header h2 {
  padding-left: 25%;
} */

.App-body {
  padding: 0 1em;
}

h2 {
  text-align: center;
}

input {
  margin-bottom: 0.5em;
}