* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: whitesmoke;
}
  
.App-header {
  padding: .5em 0;
  background-color: #282c44;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1em solid orange;
  border-radius: 1em;
  margin-bottom: .25em;
}

/* .App-header h2 {
  padding-left: 25%;
} */

.App-body {
  padding: 0 1em;
}

h1, h2, h3 {
  text-align: center;
}

/* input {
  margin-bottom: 0.5em;
} */

.post_filter {
  padding: .25em 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}

.pages {
  padding: .25em 0;
  display: flex;
  justify-content: center;
  gap: .25em;
}

.pages > * { width: 2em; }

.page_current {
  --prm-color: orange;
  font-weight: 700;
  box-shadow: inset 0 0 .25em .125em var(--prm-color);
}