* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: whitesmoke;
}
  
.App-header {
  --prm-color: #088;
  --sec-color: orange;
  padding: .5em 0;
  background-color: #282c44;
  color: var(--sec-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1em solid var(--sec-color);
  border-radius: 1em;
  /* margin-bottom: .25em; */
}

.App-navbar {
  --prm-color: #088;
  --sec-color: orange;
  padding: 0 1em;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: .25em;
}

.App-navbar li {
  width: 20%;
  font-size: .75em;
  transition: .25s;
  background-color: #282c34;
  border-radius: .5em;
  border-bottom: .1em solid var(--prm-color);
}

.App-navbar a {
  display: block;
  color: var(--prm-color);
  text-align: center;
  padding: .25em 1em;
  text-decoration: none;
}

.App-navbar li:hover {
  --prm-color: orange;
  width: 1.1;
  /* color: #088; */
  /* background: linear-gradient(#ffa50000, #ffa50022); */
}

.App-navbar .active {
  /* --prm-color: orange; */
  width: 80%;
  background-color: #282c44;
  /* border-bottom: .1em solid var(--prm-color); */
  /* text-shadow: 0 0 .5em var(--prm-color); */
}

.App-body {
  padding: 0 1em;
}

h1, h2, h3 {
  text-align: center;
}

.post_filter {
  padding: .25em 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}