.post_list {
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: .25em;
  border: 0.1em solid teal;
  border-radius: .25em;
  font-size: smaller;
}

.post_title {
  font-weight: bold;
  text-decoration: underline;
}

.highlighter {
  background-color: orange;
  color: #282c44;
}

.post_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* React Group Transitions */
.post-enter {
    opacity: 0.25;
    transform: translateX(-100%);
    transition: all 500ms ease-in;
  }
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
    transition: all 500ms ease-in;
}
.post-exit-active {
    opacity: 0.25;
    transform: translateX(-100%);
    transition: all 500ms ease-in;
}